<% provide(:title, "Help") %>

<img src="https://ines.es/wp-content/uploads/2016/06/logo.png" />
<h1>ines - Ingenieros Consultores</h1>
<h2><%= yield(:title) %></h2>
<p>
	Conocenos:
	<a href="https://ines.es/es/contacto/">ines ingenieros contacto</a>.
</p>
